@charset "UFT-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #348888, #0afb86);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(20, 20, 113, 0.6);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FA7F08;
    text-align: center;
    text-shadow: 1px 1px 2px #934e08;
}
h2{
    color:#F24405 ;
}
p {
    text-align: justify;
}